<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Battle</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>Battle</h1>
        <br>
        <p>You must defend your restaurant against Karen! Select an option to make your move!</p>
        <p>Your HP: <b>{{data["yourHealth"]}}</b></p>
        <p>Karen's HP: <b>{{data["karenHealth"]}}</b></p>
        <!--
        <form action="{{ url_for('results') }}" method="POST">
          <input type="radio" id="html" name="choice" required="required" value="engage">
          <label for="html">Engage with Karen</label><br>
          <input type="radio" id="css" name="choice" value="run">
          <label for="css">Run away from Karen</label><br><br>
          <button class="greenbutton" type="submit" value="Submit">Submit</button>
        </form>
        -->
        <div class="button-container">
        <a href="/runaway" class="greenbutton">Run Away</a>
        <a href="/attack" class="greenbutton">Attack</a>
        </div>
    </center>
  </body>