<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Great McDonalds Battle</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>The Great McDonalds Battle</h1>
      <p>You are an underage McDonalds worker, who flips burger patties for a living while hoping to get a promotion so you can make a little bit more money.</p>
      <p>One day, a woman walks into the store and complains about her burger, which turned out to be a little undercooked on the inside.</p>
      <p>Since no one takes her seriously, she starts throwing things around the restaurant and attacking people.</p>
      <p>She announces that her name is Karen and that she vows to sue everyone in the restaurant for not caring about her.</p>
      <p>You walk out of the kitchen with your trusty frying pan to engage in combat with Karen and take care of the problem.</p>
      <p>Maybe this will get you the promotion you've always wanted.</p>
        <br>
        <a href="/battle" class="greenbutton">Continue</a>
      </center>
    </div>
  </body>