<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Karen Died!</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>Karen Died!</h1>
        <br>
        <p>You killed Karen! You hit her with your frying pan too many times and she lost too much HP.</p>
        <p>Good job! You successfully defended your restaurant against Karen!</p>
        <p>Your boss was so proud of you that he gave you a promotion!</p>
        <br>
        <a href="/restart" class="greenbutton">Continue</a>
      </center>
    </div>
  </body>