<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Would You Like To Play Again?</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>Would You Like To Play Again?</h1>
        <br>
        <p>Press one of the buttons below to make your choice</p>
        <br>
        <br>
        <div class="button-container">
        <button type="button" 
        class="greenbutton" onclick="window.open('', '_self', ''); window.close();">Close</button>
        <a href="/" class="greenbutton">Play Again</a>
        </div>
    </center>
  </body>