<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>You Ran Away</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>You Successfully Ran Away!</h1>
        <br>
        <p>You ran away from Karen!</p>
        <p>You ran out of the McDonalds and took off inside your car.</p>
        <p>You hear the screams of the people inside the McDonalds as you leave, the people you were supposed to protect.</p>
        <p>You wonder to yourself if you made the right choice in running away.</p>
        <p>In the end, you decide that it's better to place your health above others in a time of danger.</p>
        <br>
        <a href="/restart" class="greenbutton">Continue</a>
    </center>
  </body>