<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>You Died!</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.png">
  </head>

  <body>
    <div class="transparent">
      <center>
        <h1>You Died!</h1>
        <br>
        <p>You died! Karen hit you with her purse too many times and you lost too much HP.</p>
        <p>You feel sad in your last moments, regretting that you even decided to defend a restaurant that barely even payed anything.</p>
        <p>At least, you won't have to worry about getting that promotion anymore.</p>
        <br>
        <a href="/restart" class="greenbutton">Continue</a>
      </center>
    </div>
  </body>